@font-face {
    font-family: 'Hind Siliguri';
    src: url('../Font/Hind_Siliguri/HindSiliguri-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('../Font/Hind_Siliguri/HindSiliguri-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('../Font/Hind_Siliguri/HindSiliguri-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('../Font/Hind_Siliguri/HindSiliguri-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('../Font/Hind_Siliguri/HindSiliguri-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
